
.build-trip-title{
    color: #BBBDBF;	font-family: Helvetica;	font-size: 24px;	font-weight: bold;	line-height: 29px;text-align: center;
}
.build-trip-line{
    height: 10px;	width: 100%;	background-color: #F1F1F2;
    &.half{
        background: linear-gradient(90deg, #D1D3D5 50%, #F1F1F2 50%);
    }
    &.full{
        background-color: #D1D3D5;
    }
}
.build-trip-nav{
margin: 50px 45px 35px 45px;
position: relative;
font-size: 10px;
font-weight: bold;
    
}
.build-trip-step{
    z-index: 1000;
    color:#fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    margin-left: -15px;
    background-color: #F1F1F2;;
    border-radius: 50%;
    top: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &.first{
        left: 0;
    }
    &.second{
        left: 50%;
    }
    &.third{
        left: 100%;
    }
    >i{
        position: absolute;
        top: -30px;
        font-size: 25px;
        color: #F1F1F2;
    }
    .title{
        width:200px;
        font-weight: normal;
        color: #F1F1F2;
    }
    &.active{
        background-color: #BBBDBF;
        .title{
            font-weight: bold;color: #BBBDBF;
        }
        >i{
            color: #BBBDBF;
        }
    }
    &.complete{
        background-color: #D1D3D5;
    }
}