.ready-to-reserve {
    text-align: center;
    margin: 40px 0;
}

.ready-to-reserve-header {
    color: #413F3F;
    font-size: 42px;
    font-weight: bold;
}

.ready-to-reserve-info {
    color: #413F3F;
    font-size: 24px;

    .btn {
        display: block;
        margin: 40px auto;
        border: 2px solid #413F3F;
        background: #fff;
        border-radius: 0px;
        font-size: 22px;
        font-weight: bold;
        color: #413F3F;
        padding: 25px;
    }

    i {
        font-size: 28px;
        vertical-align: middle;
    }
}