.summary-nav {
    background-color: #F1F1F2;
    color: #413F3F;
    padding-bottom: 20px;
}

.summary-nav__header {
    padding: 5px 15px;
    font-family: Helvetica;
    font-size: 22px;
    font-weight: bold;
}

.summary-nav__subheader {
    background-color: #D1D3D5;
    padding: 20px 15px;
    line-height: 35px;

    .summary-nav__year {
        color: #000000;
        font-size: 36px;
        font-weight: bold;
    }

    .summary-nav__year--small{
        color: #413F3F;	font-size: 18px;
    }

    .summary-nav__title {
        font-size: 36px;
        font-weight: bold;
    }

    .summary-nav__subtitle {
        color: #000000;
        font-size: 24px;
        font-style: oblique;
        font-weight: 300;
        line-height: 29px;
    }
}

.summary-nav__date-row {
    >.row {
        padding: 20px 0;
        line-height: 20px;
        display: flex;
        align-items: center;
    }

}

.summary-nav__date-title {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    line-height: 22px;

    .image {
        max-width: 50px;
        width: 100%;
    }

    img {
        max-width: 100%;
    }

    .content {
        margin-left: 10px;
    }
}

.summary-nav__top-title,.summary-nav__bottom-title{
    color: #413F3F;
    font-size: 14px;
    font-weight: 300;
}

.summary-nav__days {
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    border: 1px solid #979797;
    background-color: #D8D8D8;
    margin-top: 3px;
}

.summary-nav__date-prices {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    position: relative;
    flex-flow: wrap;
    justify-content: center;
    float: right;

    span {
        display: block;
        font-size: 24px;
    }

    .content {
        max-width: 75px;
        margin-right: 12px;
    }
}

.summary-nav__info-header {
    background-color: #D8D8D8;
    font-size: 14px;
    font-weight: bold;
}

.summary-nav__row {
    position: relative;

    >.row {
        display: flex;
        align-items: center;
        background-color: #ffffff;
        padding: 15px 0;
        border-bottom: 1px solid #BBBDBF;
    }
}

.summary-nav__row-title-container {
    display: flex;
    align-items: center;

    .fa {
        margin-right: 10px;
        font-size: 18px;
    }
}

.summary-nav__row-title {
    font-size: 16px;
    font-weight: bold;
}

.summary-nav__row-subtitle {
    font-size: 14px;
    font-weight: 300;
}

.summary-nav__row-date {
    display: inline-block;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    padding: 0 10px;
    border: 1px solid #979797;
    background-color: #D8D8D8;
}

.summary-nav__row-prices {
    .summary-nav__date-prices
}

.summary-nav__credits-row {
    background-color: #D1D3D5;
    font-size: 22px;
    font-weight: bold;
    padding: 15px 0;
}

.summary-nav__credits-row-price {
    font-size: 24px;
    float: right;
}

.summary-nav__disclaimer {
    background-color: #D8D8D8;
    margin: 10px 0;

}

.summary-nav__disclaimer-box {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 8px;
    margin: 5px 0;
    color: #BBBDBF;
    font-size: 12px;

    .content {
        color: #413F3F;
        font-size: 14px;
        font-weight: bold;
    }

    .divider {
        margin: 0 6px;
        background-color: #B7BBBF;
    }
}

.summary-nav__disclaimer-note {
    font-size: 8px;
    color: #BBBDBF;

    span.bold {
        color: #413F3F;
    }
}

.summary-nav__total-container {
    margin-top: 20px;
}

.summary-nav__dropdown {
    color: #BBBDBF;
    margin-left: 15px;
    font-size: 14px;
    font-weight: 300;

    i {
        vertical-align: top;
    }
}

.summary-nav__row-ext {
    border: 1px solid #BBBDBF;
    padding: 5px;
    text-align: center;
    width: 50px;
    float: right;
}

.summary-nav__row-ext-icon {
    font-size: 20px;
    color: #BBBDBF;
}

.summary-nav__row-ext-content {
    font-size: 8px;
    font-weight: bold;
    line-height: 10px;
    color: #413F3F;
}

.summary-nav__info-title{
    background-color: #F0F0F0;
    color: #BBBDBF;	font-size: 14px;padding: 0 10px;
}

.summary-nav__total {
    display: flex;
    align-items: center;
    border: 1px solid #979797;
}

.summary-nav__total-title {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    background-color: #F0F0F0;
    align-self: stretch;
    display: flex;
    align-items: center;
    flex-grow: 2;
    padding: 0 15px;
}

.summary-nav__total-price {

    font-size: 14px;
    background-color: #BBBDBF;
    font-weight: 300;
    padding: 13px 15px;
    text-align: center;
    min-width: 60%;

    span {
        font-size: 32px;
        display: block;
        line-height: 25px;
    }
}

.summary-nav__total-price--small{
    min-width: 40%;
}

.summary-nav__subtotal {
    display: flex;
    align-items: center;
}

.summary-nav__subtotal-title {
    color: #413F3F;
    font-size: 22px;
    font-weight: bold;
    background-color: #D1D3D5;
    align-self: stretch;
    display: flex;
    align-items: center;
    flex-grow: 2;
    padding: 0 15px;
}

.summary-nav__subtotal-price {

    font-size: 24px;
    background-color: #BBBDBF;
    font-weight: 300;
    padding: 13px 15px;
    text-align: center;
    min-width: 44%;
}

.payby-select{
    position: relative;
    .summary-nav__row-date{
        cursor: pointer;user-select: none;
    }
    &.open{
        .payby-select__list{
            display: block;
        }
    }
}

.payby-select__list{
    padding: 10px 20px 30px 10px;
    list-style: none;
    border: 1px solid #D0D2D3;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    background: #ffffff;
    width: max-content;
    display: none;
}

.payby-select__list-item{
    margin-bottom: 3px;
    cursor: pointer;
}