.extension-modal {
    padding: 20px 70px;

}

.extension-modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.extension-modal__header-title {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    line-height: 31px;
}

.extension-modal__icon-location {
    color: #9E1C1C;
    margin-right: 10px;
}

.required-extension-box {
    border: 1px solid #725D2C;
    background-color: #F8F4EC;
    color: #725D2C;
    padding: 6px 8px;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    display: flex;
    width: 122px;
}

.required-extension-box-icon {
    margin-right: 8px;
    align-self: center;
    font-size: 30px;
    color: #A89154;
}

.extension-modal__row {display: flex;padding: 14px 17px;
    align-items: center; border: 1px solid #444444;}

.extension-modal__row-title {flex-basis: calc(100% - 105px); color: #9E1C20;	font-size: 24px;	font-weight: bold;	line-height: 31px;    padding-right: 20px;}

.extension-modal__row-info{border-left: solid 1px #666666;    flex-basis: 105px;
    padding: 10px 0 10px 15px;
    text-align: center;}

.extension-modal__row-days {color: #333333;font-size: 12px;	font-weight: bold;	line-height: 15px;}

.extension-modal__icon-moon {margin-right: 5px;}

.extension-modal__row-price {font-size: 16px;	line-height: 20px;color: #333333; }
.extension-modal__row-price-number{	font-size: 24px;	font-weight: 600;display: block;    line-height: 30px;}

.extension-modal__media {}

.extension-modal__description {color: #333333;font-size: 18px;	line-height: 27px;padding: 16px 0;}

